:root{
    --body-text-color: rgba(33, 33, 33, 100%);
    --logo-text-color: rgba(0, 0, 0, 100%);
    --blue-color: rgba(33, 150, 243, 100%);
    --list-text-color: rgba(117, 117, 117, 100%);
    --body-background-color: rgba(255, 255, 255, 100%);
    --button-background-color: rgba(245, 244, 250, 1);
    --footer-background-color:rgba(47, 48, 58, 1);
    --address-text-color: rgba(255, 255, 255, 60%);

}
body{
    background-color: var(--body-background-color);
    color:var(--body-text-color);
    font-family: 'Roboto', sans-serif;
    }

/* header*/

    .header{
        background-color: var(--body-background-color);
    }


    /* logo */

    .logo-header, .logo-footer{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1,19;
        color: var(--logo-text-color);
        text-decoration: none;
    }

    .logo-span{
        color: var(--blue-color);
    }

    .logo-header:focus {
        outline: solid 2px var(--blue-color);
        color: var(--blue-color);
    }

    .logo-header:hover {
            color: var(--blue-color);
    }

    /* site navigation */

    .header-nav ul{
        list-style: none;
    }

    .header-nav a{
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        color: inherit;
        text-decoration: none;
    }

    .header-nav-link:hover,
    .header-contact-link:hover{
        color: var(--blue-color);
    }
    .header-nav-link:focus,
    .header-contact-link:focus {
        outline: solid 2px var(--blue-color);
        color: var(--blue-color);
    }

    /* header-contact */

    .header-contact {
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        color:rgba(117, 117, 117, 100%);
        list-style: none;
    }

/* студія main section */

    /* hero-section */

        .index-hero{
            height: 600px;
            background-color: var(--footer-background-color);
        }

        .index-hero-title{
            color: var(--body-background-color);
            font-weight: 900;
            font-size: 44px;
            line-height: 1,36;
            text-align: center;
            text-transform: uppercase;
        }

        .index-hero-button{
            width: 216px;
            height: 50px;
            background-color: var(--blue-color);
            background: var(--blue-color);
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .index-hero-button:focus {
             outline: solid 2px var(--blue-color);
        }

        .index-hero-button-text{
            font-weight: 700;
            font-size: 16px;
            color: var(--body-background-color);
            line-height: 1,88;
        }

    /* specialities section */

        .index-aside{

        }

        /*  hidden h2 title on main and portfolio pages */
        .hidden-title{
            display: none;
        }

        .index-aside-list{
            list-style: none;
        }

        .index-aside-list h3{
         font-weight: 700;
         font-size: 14px;
         line-height: 1,14;
         text-transform: uppercase;
        }

        .index-aside-list p{
            font-weight: 400;
            font-size: 14px;
            line-height: 1,71;
            color: var(--list-text-color);
        }

    /* worklist section */

        .index-work-list {
            
        }

        .index-work-list ul{
            list-style: none;            
        }

        .work-list-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1,17;
            text-align: center;
        }

    /* teamlist section */

        .index-teamlist{

        }

        .index-teamlist ul{
            list-style: none;
        }

        .index-teamlist-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1,17;
            text-align: center;
        }

           .index-teamlist h3{
               font-weight: 500;
               font-size: 16px;
               line-height: 1;
           }
    
           .index-teamlist p{
               font-weight: 400;
               font-size: 16px;
               line-height: 1;
               color: var(--list-text-color);
           }

/* портфоліо main section*/

    .main{

    }

        .portfolio-section{

        }
            /* gallery navigation */

                .gallery-nav{
                list-style: none;
                }

                .gallery-nav-item{

                }

                .gallery-nav-button{
                    height: 38px;
                    cursor: pointer;
                    background-color: var(--button-background-color);
                    border: none;
                    border-radius: 4px;
                }

                .gallery-nav-button:focus{
                    outline: solid 2px var(--blue-color);
                }
                .gallery-nav-button:hover,
                .gallery-nav-item p:hover{
                    background-color: var(--blue-color);
                    color: var(--body-background-color);

                }

                .gallery-nav-item p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1,625;
                    text-align: center;
                }

                
            /* gallery */
                .gallery-item{
                    list-style: none
                }

                    .gallery-item{

                    }

                    .gallery-item:focus{
                        outline: solid 2px var(--blue-color);
                    }

                    .gallery-item h3{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 2;
                    }

                    .gallery-item p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1,875;
                        color: var(--list-text-color);
                    }

/* footer*/

.footer{
    height: 252px;
    background-color: var(--footer-background-color);
}

     /* logo */
    .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1,19;
        color: var(--body-background-color);
        }
        
    .logo-span {
        color: var(--blue-color);
        }

    /* address */

    .address-list ul{
        list-style: none;
    }

    .address-list a:hover{
        color: var(--blue-color);
    }
    .address-list a:focus {
        outline: solid 2px var(--blue-color);
        color: var(--blue-color);
        }

    .address-item-main a{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color:var(--body-background-color);
        text-decoration: none;
        }

    .address-item-link a{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color:var(--address-text-color);
        text-decoration: none;
        }


