body{
    background-color: ;
    color: rgba(33, 33, 33, 100%);
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* header*/

.header{

}

.logo-header, .logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: rgba(0, 0, 0, 100%);
    text-decoration: none;
}

.logo-span{
    color: rgba(33, 150, 243, 100%);
}

.header-nav ul{
list-style: none;
}

.header-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
}

.header-nav a:hover,
.header-nav a:focus {
    color: rgba(33, 150, 243, 100%);
}


.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:rgba(117, 117, 117, 100%);
    list-style: none;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: rgba(33, 150, 243, 100%);
}

/* main section*/

.main{

}

.gallery-section{

}

.gallery-nav{

}

.gallery-nav-item{

}

.gallery-nav-button{
    cursor: pointer;

}

.gallery-nav-button:focus{
    color: rgba(33, 150, 243, 100%);
}

.gallery-nav-item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 33, 33, 100%);
}

.gallery-nav-item-text:hover{
    color: #FFFFFF;
}

.gallery-item-main{

}

.gallery-item{

}

.gallery-item:focus{
    color: rgba(33, 150, 243, 100%);
}

.gallery-item-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.gallery-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}

/* footer*/

.footer{

}

.address-item-list a:hover,
.address-item-list a:focus {
    color: rgba(33, 150, 243, 100%);
}

.address-item-main{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.address-item-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}



